.navigation{
    background-color: rgba(0, 0, 0, 0.781);
}
#go{
    color: whitesmoke;
}
#travels{
    /* color: coral;
    color: orangered;
    color: tomato;
    color:#9ef01a;
    color: #aacc00; */
    color:#80ed99;
}

#budget{
    color: LavenderBlush;
}

#amount-budget{
    color:#80ed99;
}