/* box shadow design copied from google */
.single-place{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
    padding: 10px 0px;
    background-color: aliceblue;
}
.single-place:hover{
    background-color: rgb(240, 255, 255);
}
.single-place:hover h2{
    color: MediumAquaMarine;
    color: rgba(255, 68, 0, 0.705);
}
.single-place:hover h4{
    color: DimGrey;
}
.single-place:hover p{
    color: black;
}

.single-place img{
    width: 90%;
    height: 200px;
    border-radius: 20px;
}
.details{
    text-align: start;
}
.single-place h2{
    color: rgba(255, 68, 0, 0.705);
    color: #80b918;
    color: #38b000;
    /* color: #2dc653; */
    /* color: #219ebc;
    color: YellowGreen;
    color:tomato; */
    margin-top:10px;
    font-weight: 600;
}
.single-place h4{
    color:gray;
}
.single-place p{
    color: dimgray;
}
.add-to-list-btn{
    border: 1px solid #797d62;
    padding: 5px 30px;
    font-size: 19px;
    background-color: #797d62;
    color: white;
    border-radius: 5px;
}
.add-to-list-btn:hover{
    background-color: #5e503f;
    font-size: 18px;
}

.yt-icon{
    color: red;
    font-size: 22px;
    margin: 10px 7px;
}
.info-icon{
    color: deepskyblue;
    font-size: 22px;
    margin: 10px 7px
}
